[flake8]
# TODO: 补充flake8配置文件

# 忽略且仅忽略.git, __pycache__, venv文件夹
exclude =
    .git,
    __pycache__,
    venv

# app/services/post.py, app/services/user.py, tests/test_e2e.py, tests/test_api.py忽略E501错误
per-file-ignores =
    app/services/post.py:E501
    app/services/user.py:E501
    tests/test_e2e.py:E501
    tests/test_api.py:E501

